.email
  %h3 Readings Above Limit Imported For #{@location.site_name}, #{@monitor_class.name}
  %h3 Accepted Readings:
  %table
    %th
    - JSON.parse(@readings.first.data).each do |key, value|
      %td #{key}
    - @readings.each do |r|
      %tr
        - JSON.parse(r.data).each do |key, value|
          %td #{value}
  %h3 Deleted Readings:
  %table
    %th
      - JSON.parse(@deleted_readings.first.data).each do |key, value|
        %td #{key}
    - @deleted_readings.each do |r|
      %tr
        - JSON.parse(r.data).each do |key, value|
          %td #{value}
