.data-input.import
  = render 'shared/dashboard_actions', :landfill_operators => @landfill_operators, :sites => @sites, :sections => @sections, :assets => @assets, :monitor_classes => @monitor_classes,
    :operator => @operator, :site => @site, :monitor_class => @monitor_class, :section => @section, :asset => @asset, :locations_monitor_class => @locations_monitor_class, :monitor_points => @monitor_points
  .content{'ng-controller' => 'controllers.DataInputImportController'}
    %label.error{'ng-bind' => 'error'}
    - unless @readings.nil?
      %a.btn.btn-primary{'ng-click' => 'onCompleteImport()'} Complete Import
      %ns-serialize{'data' => @readings.try(:to_json).try(:html_safe), 'property' => 'data'}
      = render 'shared/create_monitor_point'
    - else
      = form_tag "{{getFormPostUrl('#{data_input_import_path}', newDataValues)}}", multipart: true, 'ng-submit' => 'onSubmit($event)' do
        .span3
          = label_tag(:column_definition_row, 'Column Name Row:')
          = text_field_tag(:column_definition_row, 1, 'ng-model' => 'columnNameRow')
          = label_tag(:first_data_row, 'First Data Row:')
          = text_field_tag(:first_data_row, 2, 'ng-model' => 'firstDataRow')
          = label_tag(:column_definition_row, 'Last Data Row (defaults to end):')
          = text_field_tag(:last_data_row)
        .span4
          = file_field(:files, :csv, 'ns-retrieve-element' =>'fileInput', 'ng-disabled' => 'requiredFieldsMissing')
        %input{name: 'authenticity_token', type: 'hidden', value: form_authenticity_token}
        = submit_tag 'Import', 'ng-disabled' => 'requiredFieldsMissing'
    %h6{'ng-show' => 'upperLimits.length'}  Upper Limits
    = render 'shared/limit_data_table', :angular_controller => 'controllers.UpperLimit', :monitor_points => @monitor_points
    %h6{'ng-show' => 'lowerLimits.length'} Lower Limits
    = render 'shared/limit_data_table', :angular_controller => 'controllers.LowerLimit', :monitor_points => @monitor_points
    = render 'shared/import_data_table'