!!!
%html{'xmlns:ng' => "http://angularjs.org"}
  %head
    %title Run Energy - Biogasdata
    = stylesheet_link_tag    "application", :media => "all"
    = csrf_meta_tags
  %body
    .container-fluid
      = yield
    = javascript_include_tag "application"
    = content_for(:javascript)
